Repository carmennavarreteh/carmennavarreteh: changes, and which Atlantis projects are due for each by the changed paths.
All: radonium-dev, pepe-dev

atlantis.yaml:

---
version: 3

projects:
  # Disabled directories
  # First Atlantis in n26-dev-eu
  - dir: ./atlantis/radonium
    name: radonium-dev
    workspace: dev
    autoplan:
      enabled: true
      when_modified:
        - '**/*.tf*'
  - dir: ./atlantis/pepe
    name: pepe-dev
    workspace: dev
    autoplan:
      enabled: true
      when_modified:
        - '**/*.tf*'

PLE-13502 test: Test Post workflow
  atlantis/pepe/common-aws-provider.tf
  atlantis/radonium/common-aws-provider.tf
Due: radonium-dev, pepe-dev

PLE-13502 test: Test Post workflow
  atlantis/radonium/common-aws-provider.tf
Due: radonium-dev

PLE-13502 test: Test Post workflow
  atlantis/pepe/common-aws-provider.tf
Due: pepe-dev

PLE-12346 fix: Test new image for fastlane in staging
  atlantis/pepe/common-aws-provider.tf
  atlantis/pepe/main.tf
  atlantis/radonium/main.tf
Due: radonium-dev, pepe-dev

PLE-12346 fix: Test new image for fastlane in staging
  atlantis.yaml
Due: none

Update and rename radonium-dev.tfvars to test-dev.tfvars
  atlantis/radonium/vars/radonium-dev.tfvars
  atlantis/radonium/vars/test-dev.tfvars
Due: radonium-dev

Update and rename radonium-dev.s3.tfbackend to test-dev.s3.tfbackend
  atlantis/radonium/backends/radonium-dev.s3.tfbackend
  atlantis/radonium/backends/test-dev.s3.tfbackend
Due: radonium-dev

Update atlantis.yaml
  atlantis.yaml
Due: none

Update and rename radonium-dev.s3.tfbackend to test-dev.s3.tfbackend
  atlantis/pepe/backends/radonium-dev.s3.tfbackend
  atlantis/pepe/backends/test-dev.s3.tfbackend
Due: pepe-dev

Update radonium-dev.tfvars
  atlantis/pepe/vars/radonium-dev.tfvars
Due: pepe-dev

Rename radonium-dev.tfvars to test-dev.tfvars
  atlantis/pepe/vars/test-dev.tfvars
Due: pepe-dev
